$icon_width: 79px;
$icon_height: 79px;
$num_icons: 9;

.container {
  width: 600px;
  height: auto;
  margin: 10px auto;
  border: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

.slots {
  width: 3.5 * $icon_width;
  height: 3 * $icon_height;
  padding: 0.3 * $icon_width;
  border: black solid 1px;
  display: flex;
  justify-content: space-between;
  .reel {
    border: black solid 1px;
    width: $icon_width;
    height: 3 * $icon_height;
    background-image: url(https://assets.codepen.io/439000/slotreel.webp);
    background-repeat: repeat-y;
    background-position: 0 0;
  }
}

h2, h3 {
  text-align: center;
  margin: 5px;
}

.spinBtn {
  background-color: darkred;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
  width: 100px;
  text-align: center;
  transition: 0.2s;
  &:hover {
    background-color: #0d6efd;
  }
}